* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color:lightblue;
}

.notepad {
  max-width: 30em;
  margin: 0 auto;
  min-height: 35em;
  padding: 10px;
  border: .25em solid;
  background-color: blanchedalmond;
  text-align: center;
}

li {
  list-style-type: none;
}